.main {
  margin-top: 100px;
}
.img-with {
  padding: 0;
  width: 100%;
  background-size: cover;
  object-fit: cover;
}
.custom-input::placeholder {
  color: white !important; /* Use !important to override Bootstrap styles */
}

.input-width {
  width: 80%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
